* {
	font-family: georgian;
}
h1 {
	text-align: center;
	font-weight: bold;
}
h2 {
	padding-left: 10px;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
}
a:hover {
	background-color: gray;
	color: white;
}
a:active {
	text-decoration: underline;
}

#inaccessible {
	pointer-events: none;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 33%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

#status {
	margin-bottom: 10px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  max-width: 40%;
}