h1 {
	text-align: center;
	font-weight: bold;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 10px 20px;
  margin: 5px 25px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
}
a:hover {
	background-color: gray;
	color: white;
}
a:active {
	text-decoration: underline;
}
.container {
	position: relative;
}
.courses {
	display: none;
}
.cursor {
	cursor: pointer;
}
.buttons {
	display: flex;
}
.choice {
	float: left;
	width: auto;
	opacity: 1;
}
.choice:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.bachelor {
	margin-right: 10px;
}

.master {
	margin-left: 10px;
}

#text {
	text-align: center;
}