h1 {
	text-align: center;
	font-weight: bold;
}
u {
	font-weight: bold;
	margin: 5px 25px;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 10px 20px;
  margin: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
}
a:hover {
	background-color: gray;
	color: white;
}
a:active {
	text-decoration: underline;
}

.last_visited {
	margin: 5px 25px;
}